body{
    background-color: #000;
}
#dp{
    background-color: black;
    
    text-decoration: none;
    border-radius: 20px;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    display: none;
    filter: opacity(100%);
}
#co{
    filter: opacity(100%);
}


.dropdown{
    transition: 2s;
}
.dropdown-item{
    transition: 0.6s;
    transform: scale(0.9);
}
.dropdown-item:hover{
    background: gray !important;
    color: black !important;
    transform: scale(1);
    
}
#u1{
    height: 50px;
    border-radius: 500px;
    position: fixed;
    width: 98%;
    font-size: 19px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    background-color: rgba(0, 0, 0, 0.797);
    /* background-color: rgba(0,0,0,0.5); */
    /* filter: opacity(60%); */
    /* filter: saturate(); */
    /* filter: grayscale(75%); */
    /* filter: blur(7%); */
    
    
}
.navbar{
    /* width: 100%; */
}
.nav-bg{    background-color: rgba(0, 0, 0, 0.797)!important;  }

a{
    color: white!important;
}
#u1 li Link{
    /* filter: opacity(0%); */
}
#co:hover{
    #dp{display: block;}
}

#nv{
    margin-left: 38%;
}
/* #nav1{
    width: 100%;
    position: fixed;
    
} */
#im1{
    top: -1;
    background-size: cover;
    background-image: url("https://images-pw.pixieset.com/elementfield/x9y8VOV/PortfolioBanner1-06feda08-1500.jpg");
    /* width: 99vw; */
    height: 750px;
    box-shadow: 2px 5px 20px white;
    position: relative;
}
#home{
    /* height: 650vh; */
    background-color: black;
}
#title{
     font-family:'Courier New', Courier, monospace;
     font-style: oblique;
     text-decoration: line-through;
     text-shadow: 1px 5px 3px ;

}
.stock{
    height: 400px;
}

.card{
    box-shadow: 2px 7px 13px 0px  white;
}
#sim{
    transition: 2s;
    transform: scale(0.9);
}
#sim:hover{
    transform: scale(1);
}
#img2{
    /* width: 93%; */
    height: 700px;
    margin-top: 14%;
    background-size: cover;
    /* transition: 2s; */
    box-shadow: 1px 2px 20px 2px white ;
    border-radius: 100px;
    /* background-image: url(https://assets.vogue.com/photos/6137ef053977960f33e69ad2/master/w_2560%2Cc_limit/00_story.jpg); */
   
}

.box1{
    width: 100%;
    height: 140px;
    
    bottom: -3% !important;
    position: absolute;
    background: #000;
    box-shadow:0 -80px 30px black;
    color: white;
    letter-spacing: 2px;
}
.box2{
    width: 100%;
    height: 140px;
    
    bottom: 0% !important;
    position: absolute;
    background: #000;
    box-shadow: 0  -80px 60px black;
    color: white;
    border-bottom: 1px;
    border-radius: 100px;
    letter-spacing: 2px;
}
#img3{
    width: 100%;
    height: 700px;
    box-shadow: 1px 2px 20px 2px white ;  
     
}
@media screen and (max-width:768px) {
    #img3{
        height: 300px;
    }
    #im1{
        height: 700px;
        background-size: cover;
        background-position: -20cqmax;

        
    }

}

.sb{
    margin-top: 10%;
    
}
.slider{
    margin-top: 1%;
    margin-left: 100px auto;
    display: flex;
    overflow-x: auto;
    
   
}
.slider::-webkit-scrollbar{
    display: none;
}
.row1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: 100px auto;
    animation: spin 10s infinite linear ;
    padding-left: 1em;
    
}

.card1{
    flex: 0 0 auto;
    height: 300px !important;
    width: 280px !important;  
    justify-content: center;
    display: flex;
    align-items: center;
}
.imgsl{
    height: 100%;
    width: 100%;
    transform: scale(0.7);
    transition: 2s;
}
.imgsl:hover{
    transform: scale(1);
    
}
@keyframes spin{
    from{translate: 0;}
    to{translate: -100%;}
}
.sub1{
    height: 500px;
    
    background: black;
  
}
.sub2{
    background: #000;
    height: 200px ;
    width: auto;
    color: white;
    margin-top: 150px;
    margin-left: 30px;
    
  
}
.sh1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-style: italic;
    font-size: 15px;
}
.sh2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-style: italic;
    font-size: 15px;
}
.sin1{
    width: 80%;
    padding: 10px;
    background-color: #000;
    border: 1px solid white;
}
.sbtn{
    float:right;
    margin-right: 100px;
}
.showp{
    background: #000;
    /* height: 350vh; */
    width: 100%;
    
}
.pcard{
    height: 550px !important;
    margin-bottom: 40px;
    background: #000 !important;
    box-shadow: 2px 7px 13px 0px  whitesmoke;
    box-shadow: none;
    
    transform: scale(0.9);
}
.pcard:hover{
    background-color: gray !important;
    transition: 2s;
    transform: scale(1);

}
.pimg{
    height: 400px;
    background-size: cover;
    transition: 2s;
}
.prow{
    padding-top: 89px;
}
.dpage{
    background-color: #000;
    /* height: 300vh; */
}


.dimg{
    /* height: 590px; */
    transition: 2s;
    transform: scale(0.8);
    
}
.dimg:hover{
    transform: scale(1);
}
.dbox1{
   
    width: 50%;
    text-align: center;
    float: left;
    box-shadow: none;
}
.dbox2{
    height: 590px;
    width: 40%;
    float: right;
    color: white;
    text-align: center;
}
.din{
    width: 30px;
    text-align: center;
    border: none;
    height:30px;
}
.qbtn{
    height: 40px;
    width: 40px;
    color:black !important;
    
    justify-content: center;
}
.qbox{
    border: 1px solid white;
    height: 40px;
    width: 140px;
    
}
.cb{
    height: 30px;
    border-radius: 70px !important ;
}
.cbtn1{
    background-color: burlywood !important; 
}
.cbtn2{
    background-color:brown !important; 
}
.cbtn3{
    background-color:darkseagreen !important; 
}
.cbtn4{
    background-color:violet !important; 
}
.cbtn5{
    background-color:chocolate !important; 
}
.cbtn6{
    background-color:turquoise !important; 
}

.des1{
    width: 100%;
    justify-content: center;
    line-height: 30px;
    letter-spacing: 1px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}
.cart{
    background-color: black;
    
    
}
.tab{
    margin-top: 90px;
    background: #000 !important;
}
.bad{
    margin-left: -28px;
    margin-top: -30px;
    color: white !important;
    font-size: 10px !important;
    background: red;
}
.ecart{
    height: 100vh;
    background: black !important;
    
}
.eh1{
    padding-top: 270px;
    word-spacing: 100px;
    letter-spacing: 50px;
    text-align: center !important;
    font-size:70px;
    padding-left: 100px;
    text-transform: uppercase;
}
.tbox{
    height: 700px !important;
    background: #000 !important;
    overflow: scroll;
   
}
.tbox::-webkit-scrollbar{
    color: #000;
}
.bymain{
    background: #000;
}
.bbody{
    height: 100vh !important;
    padding-top: 90px;
    
}
.lcard{
    height: 620px;
    width: 100%;
     background: black;
     color: white;
}
.rcard{
    height: 620px;
    width: 100%;
    background: black ;
    color: white;
}
.formi{
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 2%;
    letter-spacing: 1px;
    padding-top: 5px;
    color: white;
}
.ain{
    width: 95%;
    margin-left: 2%;
    margin-top: 2px;
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     letter-spacing: 2px;
        margin-bottom: 10px;
}
.headm{
    padding-top: 25px;
    margin-left: 13px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.bin{
     width: 190%;
    margin-left: 2%;
    margin-top: 2px;
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     letter-spacing: 2px;
     margin-bottom: 10px;
    
}
.r1{
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 2%;
    letter-spacing: 1px;
    padding-top: 5px;
}
.r2{
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 16.5%;
    letter-spacing: 1px;
    padding-top: 5px;
}
.r3{
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 16.5%;
    letter-spacing: 1px;
    padding-top: 5px;
}
.order{
    height: 320px;
    width: 100%;
    background: black;
    overflow: scroll ;
    overflow-x: hidden;
     padding-top: 25px;
}
.order::-webkit-scrollbar{
    background: #000;
}
.maincart{
    height: 100vh  !important;
    background: #000;
}
.confp{
    height: 100vh;
    width: 100%;
    text-align: center;
    background: #000;
    
}
.conimg{
    /* height: 645px;
    width: 50%; */
    margin-top: 80px;
}
#llimg{
    height: 40px;
    background-image: url("./Logo/Gemini_Generated_Image_2laa422laa422laa.png");
    background-size: contain;
    width: 40px;
    border: none !important;
    transition: 1s;
    transform: scale(0.8);
    background-color: black;
    animation: myani;
    animation-duration: 2s;
    animation-delay: inherit;
    animation-fill-mode: forwards;
    animation-direction: normal;
}
@keyframes myani{
    
}
#llimg:hover{
    transform: scale(1);
    transform:rotate(45) !important;
}
